* {
    box-sizing: border-box;
}

.header,
.footer {
    background-color: #1F2937;
}

.information,
.signup {
    background-color: white;
}
.quote {
    background-color: #E5E7EB;
}

.header {
    display: flex;
}

.left {
    display: flex;
    flex-direction: column;
    wid
}